
<section class="contact">
    <div class="content">
        <h2>Contact us</h2>
       
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg></div>
                <div>
                    <div class="text">
                        <h3>Address</h3>
                        <address>
                            00 new street <br>
                            new section <br>
                            new york <br>
                            0000
                        </address>
                    </div>
                </div>
                <div class="icon btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                  </svg></div>
                <div>
                    <div class="text">
                        <h3>Contact</h3>
                        <p>+27 11 548 9588/9687</p>
                    </div>
                </div>
                <div class="icon btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                  </svg></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>nkululeko@xyz.com</p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form>
                <h3>Send Message</h3>
                <div class="inputBox">
                    <span>Full Name</span>
                    <input type="text" name="name" class="form-control" id="name" required="required">
                    
                </div>
                <div class="inputBox">
                    <span>Email</span>
                    <input type="email" name="email" class="form-control" id="email" required="required">
                    
                </div>
                <div class="inputBox">
                    <span>Your message</span>
                    <textarea name="message" id="message" class="form-control" cols="25" rows="5"></textarea>
                   
                </div>
                <div class="inputBox">
                    <input type="submit" value="send" (click)="submit()" class="btn btn-warning form-control">
                </div>
            </form>
        </div>
    </div>
</section>